
/*General CSS*/

*{
    margin: 0;
}




body{
    background-color: #B5F5FF;
}
 
footer .copyright{
   font-family: "Lora", serif;
   font-weight: 600;
}


/* NavBar CSS*/


 .nav_bar{
    background-color: #0F2167;
    display: block;
    position: fixed;
    width:100%;  
 }

 .menu{
  margin-top: 0rem;
 }
 
 .close{
    display: none;
    
 }

 #nav__checkbox{
    display: none;
 }

 
 .nav__toggle{
     position: absolute;
     cursor: pointer;
     margin: 0rem 1rem;
     right: 0;
 }
 svg{
     width: 2.8rem;
     
 }

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
    padding-bottom: 0.5rem;   
}

.nav-item .nav-anchor-item:hover{
    color:#FFC436;
    transition: all 200ms ease-in;
}





li{
    color:#A7E6FF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    list-style: none; 
    display: none;  
}

   .nav_logo{
    display: block;
    margin-right: auto;
    margin-left: -2.0rem;
    margin-top: 0.5rem;
   }

   #nav__checkbox:checked ~ ul.nav__menu li{
    display: block;
    height: 7vh;
    
   }
  
   #nav__checkbox:checked ~ label.nav__toggle .close{
    display:block;
   }

   #nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
   }

   .NavLogoIcon{
    height: 38px;

   }

   .nav-text{
    text-decoration: none;
    color: #A7E6FF;
    }
   


@media(min-width:768px){
    .nav__toggle{
        display:none;
    }

    .nav__menu{
        flex-direction: row;
        gap: 1rem;
    }

    li{
        display: block;
        margin-right: 1rem;
        margin-top: 1rem;
    }

}





 


/*CSS for footer*/
footer{
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    
}

/*CSS For Footer SVGs*/

a svg{
    transition: all 0.3s linear;
}



a:hover svg{
    transform: scale(1.3);
}

 .blue-LinkedIn:hover{
   fill: #0000FF;
}




.mylinkedIn{
  width: 2.8rem;
  
}




.myGitHub{
    width: 2.5rem;
    padding-bottom: 0.2rem;
    
}